In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [8]:
df = pd.read_csv('car data.csv')

In [9]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [10]:
df.experience.mean()

6.6

In [13]:
exa_fit = df.experience.median()
exa_fit

5.0

In [14]:
df.experience = df.experience.fillna(exa_fit) #median value will be replace the NaN value
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [15]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    160       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [17]:
reg = linear_model.LinearRegression()

In [22]:
reg.fit(df[['speed', 'car_age', 'experience']], df.risk) # short form xtrain is 'speed', 'car_age', 'experience' and ytrain is df.risk

LinearRegression()

In [34]:
reg.predict([[150,8,5]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([65.11627505])

In [32]:
reg.coef_

array([ 0.32208422,  1.6217354 , -6.32755071])

In [31]:
reg.intercept_

35.467511957306975

In [33]:
# y = M1*X1 + M2*X2 + M3*X3 + ...... + Mn*Xn + c(c means intercept) [M1, M2 , M3 are coeffiecient of X1 X2 and X3]
0.32208422*150 + 1.6217354*8 + 5*-6.3275507 + 35.467511957306975

65.11627465730697