In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('home data.csv')

In [ ]:
df

            x          y
0   48.955889  60.723602
1   44.687196  82.892504
2   60.297327  97.379897
3   45.618644  48.847153
4   38.816818  56.877213
..        ...        ...
94  50.030174  81.536991
95  49.239765  72.111832
96  50.039576  85.232007
97  48.149859  66.224958
98  25.128485  53.454394

[99 rows x 2 columns]

In [ ]:
df.shape

(99, 2)

In [ ]:
x= df['x']
y = df['y']

# **Gradient Descent in Machine Learning**

In [ ]:
#first step
m = 0
c = 0
Learning_rate = 0.0001

n = int(len(x)) #No of row

iterations = 1000

#2nd step
for i in range(iterations):
  y_prediction = m * x + c
  derivatives_m = (-2/n) * sum(x*(y - y_prediction))
  derivatives_c = (-2/n) * sum(y - y_prediction)

  #last step
  m = m - Learning_rate * derivatives_m
  c = c - Learning_rate * derivatives_c

print('This is m:',m)
print('This is c:',c)

This is m: 1.4796491688881985
This is c: 0.10148121497503648

In [ ]:
x = float(input('Enter any value of x:'))
y = m * x + c
y

Enter any value of x:38.030174

56.37279656674862